{% block body %}
    <style>
        .header{
            top: 0px;
            text-align: center;
        }
    </style>
    <div class="header"><a href="/">Accueil</a></div>
    <h1>Utilisateurs du site</h1>
    <ul>
        {% for user in userList %}
            <li>{{ user.firstName }} {{ user.lastName|upper }} : {{ user.email }} - {{ user.roles }} <a href="{{ path("user_profile", {id: user.id })}}">Modifier</a> <a href="{{ path("delete_user", {id: user.id })}}">Supprimer</a></li>
        {% endfor %}
    </ul>
{% endblock %}