<style>
    .header{
        top: 0px;
        text-align: center;
    }
</style>
<div class="header"><a href="/">Accueil</a></div>
<ul>
    <li>{{ user.firstName }}</li>
    <li>Nom: {{ user.lastName|upper }}</li>
    <li>Email: {{ user.email }}</li>
    <li>Role: {{ user.roles }}  </li>

</ul>
{{ form(form) }}

<a href = "/user-list">Revenir à la liste des utilisateurs</a>
</div>